.table-div {
  margin-top: 15px;
  height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
}

tbody {
  height: 150px;
  /* or any fixed height you want */
  overflow-y: auto;
}

tr:hover {
  background-color: coral;
}