<ng-container *ngIf="!showSpinner">
  <nav-bar-example></nav-bar-example>
  <div class="navbar-fix-place-holder"></div>
  <router-outlet></router-outlet>
  <!-- app-footer is always at bottom -->
  <app-footer></app-footer>
</ng-container>

<div *ngIf="showSpinner" class="container">
  <div class="row">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>
  </div>
</div>
