<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <p>Column 1-1</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <p>Column 1-2</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <p>Column 1-3</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <p>Column 1-4</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <p>Column 1-5</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <p>Column 1-6</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-4">
      <p>Column 2-1</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-4">
      <p>Column 2-2</p>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-4">
      <p>Column 2-3</p>
    </div>
  </div>
</div>

<hr />

<div class="grid-container">
  <header class="header">Header</header>
  <nav class="nav">Nav</nav>
  <main class="main">Main Content</main>
  <aside class="aside">Aside</aside>
  <footer class="footer">Footer</footer>
</div>
